.banner {
  background: url("../../images/banner-13.png") no-repeat center;
  background-size: cover;
  position: relative;
}
.banner .info {
  height: 100vh;
  display: flex;
  align-items: center;
}
.banner .inner-text {
  color: #2e4053;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 600;
}
.banner .my-info {
  width: 60%;
}
/* .banner .tsparticles-canvas-el{
    position: absolute !important;
    z-index: -9 !important;
} */
.banner .profile {
  display: none;
}
.banner .left p {
  margin: 30px 0;
  font-size: 20px;
}
.banner .left .resume {
  border-radius: 15px;
  border: 1px solid var(--fixed-color);
  background: var(--fixed-color);
}
.banner .left .resume:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.ani {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 40px;
}
.div {
  position: relative;
  animation: mymove 1.5s infinite;
}

@keyframes mymove {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 32px;
    opacity: 1;
  }
}

/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px) {
  .banner {
    background: #f1f1f1;
  }
  .banner .left .hey {
    margin: 30px 0;
    margin-bottom: 16px;
  }
  .banner .info {
    display: block;
    height: auto;
    padding-bottom: 80px;
  }
  .banner .inner-text {
    font-size: calc(1.2rem + 0.5vw);
  }
  .banner .my-info {
    width: 100%;
    font-size: 16px !important;
  }
  /* .banner .left .mt{
        margin-top: 60px !important;
        margin-bottom: 0;
    } */
  .banner .profile {
    display: block;
    padding-top: 80px;
  }
  .banner .image {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(2deg);
  }
  .banner .image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 1px 1px 10px black;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .banner {
    background: #f1f1f1;
  }
  .banner .info {
    height: auto;
  }
  .banner .inner-text {
    font-size: calc(1.2rem + 0.5vw);
  }
  .banner .my-info {
    width: 100%;
    font-size: 16px !important;
  }
  .banner .left .mt {
    margin-top: 60px !important;
    margin-bottom: 0;
  }
  .banner .profile {
    display: block;
    padding-top: 100px;
  }
  .banner .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner .image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 1px 1px 10px black;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navigation img {
    width: 200px;
  }
  .navigation .nav-item {
    font-size: 16px;
    margin-right: 20px;
  }
}

/* <div className='particle'>
                    <Particles
                        id="tsparticles"
                        // init={particlesInit}
                        // loaded={particlesLoaded}
                        options={{
                            background: {
                            color: {
                                value: "#f1f1f1",
                            },
                            },
                            fpsLimit: 60,
                            interactivity: {
                            events: {
                                onClick: {
                                enable: false,
                                mode: "push",
                                }, 
                                onHover: {
                                enable: false,
                                mode: "repulse",
                                },
                                resize: true,
                            },
                            modes: {
                                bubble: {
                                distance: 400,
                                duration: 2,
                                opacity: 0.8,
                                size: 40,
                                },
                                push: {
                                quantity: 4,
                                },
                                repulse: {
                                distance: 200,
                                duration: 0.4,
                                },
                            },
                            },
                            particles: {
                            color: {
                                value: "#fff",
                            },
                            links: {
                                color: "#76D7C4",
                                distance: 160,
                                enable: true,
                                opacity: 0.8,
                                width: 1,
                            },
                            collisions: {
                                enable: true,
                            },
                            move: {
                                direction: "none",
                                enable: true,
                                // outMode: "none",
                                random: false,
                                speed: 1,
                                straight: false,
                            },
                            number: {
                                density: {
                                enable: true,
                                value_area: 800,
                                },
                                value: 60,
                            },
                            opacity: {
                                value: 0.5,
                            },
                            shape: {
                                type: "circle",
                            },
                            size: {
                                random: true,
                                value: 2,
                            },
                            },
                            detectRetina: true,
                        }}
                    />
                </div> */
