.header .active{
    color: #20c997 !important;
}
.header .link{
    font-size: 18px;
    font-weight: 500;
}
.header .link:hover{
    color: gold;
    transition: .4s;
}
.header .brand:hover{
    color: white;
}
.header .link:hover{
    color: gold !important;
    transition: .4s;
}
.header .icon{
    font-size: 25px;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .navigation img{
        width: 100px;
    }
    .navigation .nav-item{
        font-size: 14px;
        margin-right: 10px;
    }
    .header .icon-div{
        margin-bottom: 20px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .navigation img{
        width: 150px;
    }
    .navigation .nav-item{
        margin-right: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .navigation img{
        width: 200px;
    }
    .navigation .nav-item{
        font-size: 16px;
        margin-right: 20px;
    }
}